@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.text__blue{
    color: #6415ff;
}


a{
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

section{
    padding: 80px 0;
}   

html{
    scroll-behavior: smooth;
}

/* NAVBAR responsive */
.nav__links--mobile{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        position:fixed;
        top: 0px;
        right: 0;
        height: 100vh;
        width: 100%;
        z-index: -3;
        background-color: white;
    }

    .bttn__menu{
        
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .menu--open .mobile__menu{
        display: flex;
    }

    .mobile__menu{
        display: none;
        position: absolute;
        background-color: white;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        z-index: 4;
        justify-content: center;
        align-items: center;
    }

    .bttn__close{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
    }

/* NAV BAR STYLES */

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-top: 28px;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img__wrapper{
    display: flex;
    align-items: center;
}

.logo__img {
    height: 40px;
}

.nav__links{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav__link{
    cursor: pointer;
    transition: color 0.3s ease;
    margin-bottom: 8px;
    margin-right: 16px;
    opacity: 1;
    position:relative;
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
}
.nav__link--button{
    padding: 10px 20px;
    background-color: #6415ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav__link::after{
    content: "";
    position:absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    transition: all 300ms ease;
    opacity:0; 
}

.nav__link:hover{
    border-bottom: 2px solid #5111d2;
    opacity: 0.8;
    width: 100%;
    height: 2px;
}

/*Landing Styles*/
#landing{
    padding-top:0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    text-align: center;
    padding: 0 20px;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 48px;
    line-height: 1.25;
    text-align: left;
}

.header__description__para{
    margin: 32px 0;
    line-height:1.5;
    font-size: 18px;
    color: #555;
    text-align: left;
}
.form__wrapper{
    width: 40%;
}

.landing__img__wrapper{
    width: 60%;
}

.landing__img {
    width: 100%;
}

.landing__form{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 48px;
    position: relative;
    width: 100%;
    max-width: 480px;
}

.landing__input{
    width: 100%;
    border-radius: 500px;
    border: 2px solid #bebbbb;
    padding: 20px 192px 20px 32px;
    font: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 1;
    transition: border-color 300ms ease;
}

.landing__button{
    z-index: 2;
    border-radius: 500px;
    margin: 8px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    transition: all 300ms ease;
    border: none;
    height: 48px;
    width: 120px;
}

.landing__button:hover{
    background-color: #5111d2;
}   

.customers__img__wrapper{
    display: flex;
    flex-direction: column;
}

.customers__img{
    width: 100%;
}

.customers__para{
    text-align: left;
    color:#555;
    margin-bottom: 16px;
}

/* Features */


.features__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.features__description{
    text-align: center;
    color: #2b2a2ace;
    max-width: 576px;
}
.services{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.service {
    display: flex;
    width: calc(100% /4);
    line-height: 1.5;
}

i {
    font-size: 32px;
    color: #6415ff;
}

.service__img__wrapper{
    padding: 12px 12px;
}

.service__description{
    margin: 12px;
}

/* Quality */

.quality__description{
    width: 50%;
    display:flex;
    flex-direction: column;
}

.quality__img__wrapper{
    width:50%;
}

.quality__img{
    width: 100%;
}

.quality__para{
    line-height: 1.5;
    font-size: 18px;
    padding-bottom: 12px;
}

.bttn{
    padding: 12px 24px;
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    width: fit-content;
    margin-top: 5%;
    font-size: 18px;
}

.bttn:hover{
    background-color: #5111d2;
    cursor: not-allowed;
}

/*STEPS*/

.steps__img__wrapper{
    width: 50%;
}

.steps__img{
    width: 100%;
}

.steps__row{
    display: flex;
    flex-direction: row;
}

.steps__description{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.steps__list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.step {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    max-width: 350px;
    margin-left:24px;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: 700;
    color: #cbd5e0;
}

.step__title {
    color: #243e63;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
}

.step__para{
    color: #718096;
    font-size: 16px;
    line-height: 2;
    margin-top: 12px;
}

/* values */

.values__description{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__img__wrapper{
    width: 50%;
}

.values__img{
    width: 100%;
}

.values__heading{
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 24px;
}

.values__para{
    line-height: 1.5;
    padding-bottom: 48px;
    font-size: 18px;
}

.values__list{
    display:flex;
    flex-direction: row;
}

.value{
    width:50%;
    padding: 8px 8px;
}

.value__title{
    display: flex;
}

/* Pricing */

.pricing__row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#pricing .pricing__heading{
    line-height: 1.25;
    font-weight: 700;
    text-align: center;
}
.pricing__description{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.pricing__plans {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-evenly;  
}

.plan {
    width: calc(100% / 3);
    max-width: 360px;
    border-radius: 10px;
    border:#bebbbb;
    border-width: 1px;
    border-style: solid;
}

.plan__heading{
    padding: 12px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: black;
}

.plan__price{
    font-size: 48px;
    text-align: center;
    padding: 20px;
}

.duration{
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 36px;
}


.plan__description{
    padding: 12px;
    border-top: 3px solid #bebbbb;
    border-bottom: 3px solid #bebbbb;
}
.plan__description__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 16px;
}

.plan__description__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    color: #718096;
}
.personal__plan__ribbon{
    height: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-radius: 10px 10px 0 0;
}

.pricing__bttn__personal{
    color: white;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.business__plan__ribbon{
    height: 8px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 10px 10px 0 0;
}

.plan--business{
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.bttn__wrapper{
    display: flex;
    justify-content: center;
    padding: 16px 0;
}
.pricing__bttn{
    border-radius: 50px;
    cursor: no-drop;
    border: none;
    padding: 12px 24px;
    transition: all 0.3s ease;
    font-size: 20px;
}

.pricing__bttn__business{
    color: #6415ff;
}

.pricing__bttn:hover{
    opacity: 0.8;
    transform: (scale(1.05));
    transform: translate(4px, -4px);
    box-shadow: #555 0px 4px 8px;
}


.enterprise__plan__ribbon{
    height: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border-radius: 10px 10px 0 0;
}

.pricing__bttn__enterprise{
    color: white;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.text__white{
    color: white;
}


/* Testimonial */
.testimonial__img__wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 28px;
}

.testimonial__img{
    width: 100%;
}

.testimonial__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 28px;
}

.testimonial__rating, .fa-star{
    color: #f7ba05ce;
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.card__row{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card__title{
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    margin: 12px 0;
}

.card__author{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.author__img__wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author__img{
    scale: .18;
}

.card__buttons{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.fa-circle-right, .fa-circle-left{
    color: #6415ff;
    font-size: 36px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fa-circle-right:hover, .fa-circle-left:hover{
    color: #5111d2;
    transform: scale(1.1);
}

/*CTA*/

.cta__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6415ff;
    padding: 96px 0;
    border-radius: 6px;
}

.start__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6415ff;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 32px;
}

.cta__heading{
    width: 50%;
    line-height: 1.5;
    color: white;
    font-size: 30px;
}

.bttn--start{
    background-color: #f56565;
    transition: all 300ms ease;
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
}

.bttn--start:hover{
    background-color: #c53030;
}

.bttn--contact{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 20px 40px;
    transition: all 300ms ease;
    cursor: pointer;
}

.bttn--contact:hover{
    background-color: white;
    color: #6415ff;
}

.start__buttons{
    display: flex;
    gap: 36px;
}

/* Footer */

.footer__links{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.link__group{
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: flex-start;
    color: white;
    line-height: 3;
}

.footer__container{
    background-color: #5111d2;
}

.link__group__heading{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: left;
    justify-content: flex-start;
}

.link__group__list{
    font-size: 16px;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    width: 100%;
    max-width: 1200px;
    margin-top: 48px;
}

.footer__logo{
    display: flex;
    flex-direction: row;
    color: white
}

.footer__logo__img {
    height: 32px;
    width: 32px;
    margin-right: 18px;
}

.copyright{
    color: #cbd5e0;
    font-size: 14px;
}

.fa-facebook, .fa-twitter, .fa-youtube{
    color: white;
    margin-left: 12px;
}

/* Responsive Styles */

@media (max-width: 1024px) {
    .header__row{
        width: 100%;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .form__heading{
        text-align: center;
        width: 100%;
        max-width: 800px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    .services{
        flex-direction: column;
        align-items: center;
    }

    .service{
        width: 100%;
        max-width: 400px;
    }

    .quality__row{
        flex-direction: column-reverse;
        align-items: center;
        gap: 32px;
    }

    .quality__subheading{
        text-align: center;
        margin-bottom: 12px;
    }

    .quality__description{
        width: 100%;
        max-width: 500px;
        align-items: center;
        text-align: center;
    }

    .quality__para{
        margin-top: 12px
    }

    .steps__row{
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .steps__description{
        width: 100%;
        max-width: 500px;
        align-items: center;
        text-align: center;
    }

    .steps__list{
        align-items: center;
    }

    .step{
       display: flex;
    flex-direction: column;
    align-items: center;
    }

    .values__row{
        flex-direction: column-reverse;
        align-items: center;
        gap: 32px;
        justify-content: center;
    }

    .values__subheading{
        text-align: center;
        margin-bottom: 12px;
    }

    .values__para{
        margin-top: 12px;
        text-align: center;
    }

    .values__list{
        align-items: center;
        display: flex ;
        flex-direction: column;
    }

    .value{
        align-items: center;
        width: 100%;
         max-width: 400px;
         margin-bottom: 16px;
    }

    .value__title{
        align-items: center;
        margin-bottom: 12px;
        justify-content: center;
    }

    .values__description{
        width: 100%;
        max-width: 500px;
        align-items: center;
        text-align: center;
    }

    .pricing__description{
        align-items: center;
        text-align: center;
        justify-content: center;
        line-height: 1.5;
        margin-left: 60px;
        margin-right: 60px;
    }


     .pricing__plans {
        flex-direction: column;
        align-items: center;
        gap: 12px; 
    }

    .testimonials__row{
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .testimonial__img__wrapper{
        width: 100%;
        max-width: 400px;
        padding: 0;
    }

    .testimonial__description{
        width: 100%;
        max-width: 500px;
        align-items: center;
        text-align: center;
    }

    .start__row{
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .link__group{
        width: calc(100%/3);
        max-width: 400px;
        align-items: center;
        text-align: center;
        margin-top: 32px;
    }

     .link__group__heading{
        justify-content: center;
    }

    .footer__info{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

     .footer__logo{
        justify-content: center;
    }

}